<!-- <h1>Music Database</h1>

<a href="<%= artists_path %>"><div class="nav-box authors"><h2>Artists</h2></div>'</a>
<a href="<%= songs_path %>"><div class="nav-box novels"><h2>Songs</h2></div>'</a> -->

<img src="http://cdn1.theodysseyonline.com/files/2015/12/19/6358614596527738711752945771_music.jpg", class: 'bg'> </a>
